# To exclude some files per-repository, without using .gitignore, use
# repository/.git/info/exclude
# https://stackoverflow.com/questions/1753070/git-ignore-files-only-locally

*.o
*.lo
*.la
\#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
Thumbs.db
.stignore
*.bak
.*.swp
.swp
.swo
.swx
*.pyc
*.pyo
__pycache__
.ipynb_checkpoints
.jekyll-metadata
node_modules
